[submodule "libs/mkdocs-badges"]
	path = libs/mkdocs-badges
	url = https://github.com/six-two/mkdocs-badges.git
[submodule "libs/mkdocs-link-embeds"]
	path = libs/mkdocs-link-embeds
	url = https://github.com/Aetherinox/mkdocs-link-embeds.git
[submodule "libs/mkdocs-material"]
	path = libs/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
[submodule "libs/mkdocs-macros-plugin"]
	path = libs/mkdocs-macros-plugin
	url = https://github.com/fralau/mkdocs-macros-plugin.git
[submodule "libs/mkdocs-redirects"]
	path = libs/mkdocs-redirects
	url = https://github.com/mkdocs/mkdocs-redirects.git
