[submodule "libs/mkdocs-badges"]
	path = libs/mkdocs-badges
	url = https://github.com/six-two/mkdocs-badges.git
[submodule "libs/mkdocs-link-embeds"]
	path = libs/mkdocs-link-embeds
	url = https://github.com/Aetherinox/mkdocs-link-embeds.git
[submodule "libs/mkdocs-material"]
	path = libs/mkdocs-material
	url = https://github.com/squidfunk/mkdocs-material.git
